---
layout: default
title: research
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.papers.size > 0 -%}
    <ul class="post-list">
      {%- for paper in site.papers -%}
      <li>
        <h3>
          <a class="post-link" href="{{ paper.url | relative_url }}">
            {{ paper.title | escape }}
          </a>
        </h3>
        {% if paper.coauthor %}
        <span class="meta">with {{ paper.coauthor }}</span>
        {% endif %}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
